*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #b8e0f5;
}

.wrapper{
    width: 550px;
    height: 500px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: #35a7d4;
}

#search-tasks{
    display: flex;
    gap: 20px;
}


#add-task{
    display: flex;
    gap: 20px;
}


.searchBox{
    width: 400px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(53, 75, 87), rgb(220, 231, 239), rgb(124, 194, 221));
}



.addBox{
    width: 400px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 700;

   background-image: linear-gradient(to right, rgb(53, 75, 87), rgb(220, 231, 239), rgb(124, 194, 221));
}



.addBtn{
    width: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
}


.searchBtn{
    width: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
}



.addBtn:hover, .searchBtn:hover{
    background: #000;
    color: #fff;
}



.addBtn:active, .searchBtn:active{
    background: #4ae342;
    color: #fff;
    transform: scale(0.98);
}


.deleteBtn{
     width: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(116, 116, 197);
    cursor: pointer;
    height: 30px;
    color:white;
}

.deleteBtn:hover{
    background: #e31b1b;
    color: #fff;
}

.input-wrapper{
    display: flex;
    justify-content: space-between;
    width: 300px
  
}

#output{
  
    width: 350px;


}